.topcorner {
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    margin-top: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: Arial;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 25px;
    font-size: 0.9em;
    min-width: 90%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #3498db;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #3498db;
}

.button-logout {
    margin: 10px 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
}

.button-logout:hover {
    background-color: #2980b9;
}