<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars List</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="../Css/table.css">
</head>

<body>
    <div class="topcorner">
        <button type="button" id="logout" onclick="Logout()" class="button-logout">Log out</button>
    </div>
    <div class="container">
        <table id="machineTable" class="content-table">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Color</th>
                    <th>Year of release</th>
                    <th>Price</th>
                    <th>Short Description</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <script src="../js/DisplayCars.js"></script>
    <script src="../js/Logout.js"></script>
</body>

</html>