<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css/auth.css">
</head>

<body>
    <div class="container">
        <h2>Sign up</h2>
        <form action="https://localhost:7227/api/Account/Signup" method="post" id="SignupForm">
            <div>
                <div>
                    <label for="name">Name</label><br />
                    <input id="userName" name="name" type="text" />
                </div>
                <div>
                    <label for="email">Email</label><br />
                    <input id="email" name="email" type="text" />
                </div>
                <div>
                    <label for="password">Password</label><br />
                    <input id="password" name="password" type="password" />
                </div>
                <div>
                    <button type="submit">Sign up</button>
                </div>
            </div>
        </form>
    </div>
</body>

<script>
    const signup = document.querySelector('#SignupForm');
    signup.addEventListener('submit', (e) => {
        e.preventDefault();

        fetch(signup.action, {
            method: signup.method,
            body: new FormData(signup),
        })
            .then(response => {
                if (response.status === 200) {
                    window.location.href = '/app/Views/Auth.html';
                } else {
                    console.error('Registration failed');
                    alert('Registration failed')
                }
            })
            .catch(error => {
                console.error('Registration error', error);
            });
    });
</script>

</html>